.Sider-style{
  z-index: 10;
}
.logo {
  float: left;
  width: 250px;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin: 0 0 0 0;
}
  .logoIco{
    font-Size: 50px;
  }
  .site-layout .site-layout-background {
    background: #fff;
    border-radius: 10px;

  }
@media (max-width:1080px){
    .logo {
        width: 100px;
        float: left;
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        margin: 0 0 0 0;
    }
    .logoIco{
        font-Size: 30px;
    }
}
